{% macro title(page) %}
    <header class="post__header">
        <h1 class="post__title">
            <a href="{{ page.permalink }}">{{ page.title }}</a>
        </h1>
        <div class="post__meta">
        <span>{{page.description}}</span>
        </br>
            <span class="post__time">{{ page.date | date(format="%F") }}</span>
            {% if page.taxonomies.categories %}
                <div class="post__category">
                    {% for category in page.taxonomies.categories %}
                        <a href="{{ get_taxonomy_url(kind="categories", name=category) }}">{{ category }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </header>
{% endmacro title %}
{% macro disqus(page) %}
    <h1>Comments</h1>
    <div id="disqus_thread"></div>
    <script src="https://utteranc.es/client.js"
        repo="yashrsharma44/yashrsharma44.github.io"
        issue-term="pathname"
        theme="boxy-light"
        crossorigin="anonymous"
        async>
    </script>
{% endmacro disqus %}